.Rproj.user
.Rhistory
.RData
.Ruserdata
ExplosivesInterpolScopusSearch/SCOPUS/SCOPUS_Combined.csv
ExplosivesInterpolScopusSearch/Results/Scopus_processed_data.csv
ExplosivesInterpolScopusSearch/Results/Scopus_Keyword_List.csv

